@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    font-family: 'Orbitron', sans-serif;
}

.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: grey;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    background-color: rgb(164, 196, 21);
    border: solid black 1px;
    border-radius: 2px;
    color: black;
    width: 90%;
    height: 65%;
}

#btn {
    background-color: rgb(238, 96, 96);
    font-size: 20px;
}

input[type=button] {
    background-color: #010002;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 60px;
    height: 70%;
    outline: none;
    cursor: pointer;
}

input :active[type=button] {
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}